<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>Add Cart</button>
        </div>

        <div class="col-lg-9">
                <h2>{{pizza.name}}</h2>
                <img src="{{pizza.image}}" alt="">
        </div>
    </div>
</div>